<%
  _page = current_resource.metadata[:page]
  _i18n = config[:i18n]
  _article = config[:articles].get(_page)
%>
<% wrap_layout :layout do %>
  <div class="share">
    <span class="sharemsg">
      <a href="<%= twitter_share_url(current_page.url, _i18n.t(data, _page, 'title') + ", " + (_i18n.t(data, _page, 'where'))[0].downcase + (_i18n.t(data, _page, 'where'))[1..-1] + "" + _article.name) %>">
        <%= _i18n.t(data, _page, 'share') %>
      </a></span>

      <span class='st_facebook_large' displayText='Facebook'></span>
      <span class='st_twitter_large' displayText='Tweet'></span>
  </div>
  <div class="theme-choice">
    <label id="theme-label"><%= _i18n.t(data, _page, 'selectTheme') %></label>
    <button type="button" aria-labelledby="theme-label" onclick="set_theme('light');"><%= _i18n.t(data, _page, 'lightTheme') %></button>
    <button type="button" aria-labelledby="theme-label" onclick="set_theme('dark');"><%= _i18n.t(data, _page, 'darkTheme') %></button>
  </div>
  <h1><a href="/"><%= _i18n.t(data, _page, 'title') %></a></h1>
  <h2><%= _i18n.t(data, _page, 'where') %><%= _article.name %></h2>
  <% if _article.filename %>
    <p class="filelink">
    <%= _i18n.t(data, _page, 'getCode') %>
    <a href="/docs/files/<%= _article.filename %>"><%= _article.filename %></a>
    </p>
  <% end %>
  <div id="doc">
    <%= yield %>
    <hr>
    <p><%= _i18n.t(data, _page, 'suggestions') % ["https://github.com/adambard/learnxinyminutes-docs/issues/new", "https://github.com/adambard/learnxinyminutes-docs/edit/master/#{current_page.path.split('/', 2)[1]}.markdown"] %>
    </p>
    <p class="contributed">
    <%= _i18n.p(data, _page, 'contributor', _article.contributor_count) % [
      _article.contributors[0][0],
      "https://github.com/adambard/learnxinyminutes-docs/blame/master/#{current_page.path.split('/', 2)[1]}.markdown",
      _article.contributor_count] %>
    </p>

    <footer>
    <a style="float: left" rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a>
    <p>
    &copy; <%= Time.now.strftime("%Y") %>
    <% _article.contributors.each_with_index do |author, ii| %>
      <% if author[1] %>
        <a href="<%= author[1] %>"><%= author[0] %></a><%= ',' unless ii >= _article.contributors.length - 1 %>
      <% else %>
        <%= author[0] %><%= ',' unless ii < _article.contributors.length %>
      <% end %>
    <% end %>
    </p>

    <p>
    <% if _article.translators.length > 0 %>
      <%= _i18n.p(data, _page, 'translatedBy', _article.translators.length) %>
      <% _article.translators.each do |t| %>
        <a href="<%= t[1] %>"><%= t[0] %></a>
      <% end %>
    <% end %>

    </footer>
  </div>
<% end %>
