<% wrap_layout :layout do %>
  <div class="share">
    <span class="sharemsg"><%= i18n.t(data, 'share') %></span>
      <span class='st_facebook_large' displayText='Facebook'></span>
      <span class='st_twitter_large' displayText='Tweet'></span>
  </div>
  <h1><a href="/"><%= i18n.t(data, 'title') %></a></h2>
  <h2><%= i18n.t(data, 'where') %><%= articles.get(data.page).name %></h2>
  <% if articles.get(data.page).filename %>
    <p class="filelink">
    <%= i18n.t(data, 'getCode')%>
    <a href="/docs/files/<%= articles.get(data.page).filename %>"><%= articles.get(data.page).filename %></a>
    </p>
  <% end %>
  <div id="doc">
    <%= yield %>
    <hr>
    <p><%= i18n.t(data, 'suggestions') % ["https://github.com/adambard/learnxinyminutes-docs/issues/new"] %>
    </p>
    <p class="contributed">
    <%= i18n.t(data, 'contributor') % [
      articles.get(data.page).contributors[0][0],
      "https://github.com/adambard/learnxinyminutes-docs/blame/master/#{current_page.path.split('/', 2)[1]}.markdown",
      articles.get(data.page).contributor_count] %>
    </p>

    <footer>
    <a style="float: left" rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a>
    <p>
    &copy; <%= Time.now.strftime("%Y") %>
    <% articles.get(data.page).contributors.each_with_index do |author, ii| %>
      <% if author[1] %>
        <a href="<%= author[1] %>"><%= author[0] %></a><%= ',' unless ii >= articles.get(data.page).contributors.length - 1 %>
      <% else %>
        <%= author[0] %><%= ',' unless ii < articles.get(data.page).contributors.length %>
      <% end %>
    <% end %>
    </p>

    <p>
    <% if articles.get(data.page).translators.length > 0 %>
      Translated by:
      <% articles.get(data.page).translators.each do |t| %>
        <a href="<%= t[1] %>"><%= t[0] %></a>
      <% end %>
    <% end %>

    </footer>
  </div>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "ur-510ed322-cbdc-7d3a-c1d1-8a1a745aa7", doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>
<% end %>
