<% wrap_layout :layout do %>
  <div class="share">
    <span class="sharemsg">
      <a href="<%= twitter_share_url(current_page.url, config[:i18n].t(data, current_resource.metadata[:page], 'title') + ", " + (config[:i18n].t(data, current_resource.metadata[:page], 'where'))[0].downcase + (config[:i18n].t(data, current_resource.metadata[:page], 'where'))[1..-1] + "" + config[:articles].get(current_resource.metadata[:page]).name) %>">
        <%= config[:i18n].t(data, current_resource.metadata[:page], 'share') %>
      </a></span>

      <span class='st_facebook_large' displayText='Facebook'></span>
      <span class='st_twitter_large' displayText='Tweet'></span>
  </div>
  <div class="theme-choice">
    <label id="theme-label"><%= config[:i18n].t(data, current_resource.metadata[:page], 'selectTheme') %></label>
    <button type="button" aria-labelledby="theme-label" onclick="set_theme('light');"><%= config[:i18n].t(data, current_resource.metadata[:page], 'lightTheme') %></button>
    <button type="button" aria-labelledby="theme-label" onclick="set_theme('dark');"><%= config[:i18n].t(data, current_resource.metadata[:page], 'darkTheme') %></button>
  </div>
  <h1><a href="/"><%= config[:i18n].t(data, current_resource.metadata[:page], 'title') %></a></h1>
  <h2><%= config[:i18n].t(data, current_resource.metadata[:page], 'where') %><%= config[:articles].get(current_resource.metadata[:page]).name %></h2>
  <% if config[:articles].get(current_resource.metadata[:page]).filename %>
    <p class="filelink">
    <%= config[:i18n].t(data, current_resource.metadata[:page], 'getCode')%>
    <a href="/docs/files/<%= config[:articles].get(current_resource.metadata[:page]).filename %>"><%= config[:articles].get(current_resource.metadata[:page]).filename %></a>
    </p>
  <% end %>
  <div id="doc">
    <%= yield %>
    <hr>
    <p><%= config[:i18n].t(data, current_resource.metadata[:page], 'suggestions') % ["https://github.com/adambard/learnxinyminutes-docs/issues/new", "https://github.com/adambard/learnxinyminutes-docs/edit/master/#{current_page.path.split('/', 2)[1]}.markdown"] %>
    </p>
    <p class="contributed">
    <%= config[:i18n].t(data, current_resource.metadata[:page], 'contributor') % [
      config[:articles].get(current_resource.metadata[:page]).contributors[0][0],
      "https://github.com/adambard/learnxinyminutes-docs/blame/master/#{current_page.path.split('/', 2)[1]}.markdown",
      config[:articles].get(current_resource.metadata[:page]).contributor_count] %>
    </p>

    <footer>
    <a style="float: left" rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a>
    <p>
    &copy; <%= Time.now.strftime("%Y") %>
    <% config[:articles].get(current_resource.metadata[:page]).contributors.each_with_index do |author, ii| %>
      <% if author[1] %>
        <a href="<%= author[1] %>"><%= author[0] %></a><%= ',' unless ii >= config[:articles].get(current_resource.metadata[:page]).contributors.length - 1 %>
      <% else %>
        <%= author[0] %><%= ',' unless ii < config[:articles].get(current_resource.metadata[:page]).contributors.length %>
      <% end %>
    <% end %>
    </p>

    <p>
    <% if config[:articles].get(current_resource.metadata[:page]).translators.length > 0 %>
      Translated by:
      <% config[:articles].get(current_resource.metadata[:page]).translators.each do |t| %>
        <a href="<%= t[1] %>"><%= t[0] %></a>
      <% end %>
    <% end %>

    </footer>
  </div>
<% end %>
