<% wrap_layout :layout do %>
  <h1><a href="/">Learn X in Y minutes</a></h2>
  <h2>Where X=<%= data.page.language %></h2>
  <div id="doc">
    <%= yield %>
    <footer>
    <a style="float: left" rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a>
    <p>
    &copy; 2013
    <% if data.page.author_url %>
      <a href="<%= data.page.author_url %>"><%= data.page.author %></a>
    <% else %>
      <%= data.page.author %>
    <% end %>
    </p>

    </footer>
  </div>
<% end %>
