<% wrap_layout :layout do %>
  <h1><a href="/">Learn X in Y minutes</a></h2>
  <h2>Where X=<%= articles.get(data.page).name %></h2>
  <% if articles.get(data.page).filename %>
    <p class="filelink">
    Get the code: <a href="/docs/files/<%= articles.get(data.page).filename %>"><%= articles.get(data.page).filename %></a>
    </p>
  <% end %>
  <div id="doc">
    <%= yield %>
    <hr>
    <p>Got a suggestion? A correction, perhaps?
    <a href="https://github.com/adambard/learnxinyminutes-docs/issues/new">Open an Issue</a> on the Github Repo, or make a pull request yourself!</p>
    <p class="contributed">
    Originally contributed by
    <%= articles.get(data.page).contributors[0][0] %>, and updated by
    <a href="https://github.com/adambard/learnxinyminutes-docs/blame/master/<%= current_page.path.split('/')[1] %>.markdown">
    <%= articles.get(data.page).contributor_count %>
    <%= if articles.get(data.page).contributor_count <= 1 then "contributor" else "contributors" end %>
  </a>
    </p>

    <footer>
    <a style="float: left" rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a>
    <p>
    &copy; 2013
    <% articles.get(data.page).contributors.each_with_index do |author, ii| %>
      <% if author[1] %>
        <a href="<%= author[1] %>"><%= author[0] %></a><%= ',' unless ii >= articles.get(data.page).contributors.length - 1 %>
      <% else %>
        <%= author[0] %><%= ',' unless ii < articles.get(data.page).contributors.length %>
      <% end %>
    <% end %>
    </p>

    <p>
    <% if articles.get(data.page).translators.length %>
      Translated by:
      <% articles.get(data.page).translators.each do |t| %>
        <a href="<%= t[1] %>"><%= t[0] %></a>
      <% end %>
    <% end %>

    </footer>
  </div>
<% end %>
