---
title: Learn X in Y minutes
layout: home
---
<h1>Learn X in Y minutes</h1>

<div class="lang-choice">
  <label for="lang-select">Highlight your language:</label>
  <select id="lang-select" name="lang-select">
    <option value="en">en-us</option>
    <% config[:articles].articles.select { |a| a.category != 'meta' && !a.name.nil? && a.translations }.flat_map { |a| a.translations }.flat_map { |t| t.language }.uniq.sort.each do |t| %>
      <option value="<%= t %>"><%= t %></option>
    <% end %>
  </select>
</div>
<br>
<div class="theme-choice">
  <label id="theme-label">Select theme:</label>
  <button type="button" aria-labelledby="theme-label" onclick="set_theme('light');">light</button>
  <button type="button" aria-labelledby="theme-label" onclick="set_theme('dark');">dark</button>
</div>

<p>Take a whirlwind tour of your next favorite language. Community-driven!</p>

<% config[:articles].categories_en.each do |c| %>
  <% if c != "meta" %>
    <table>
      <tr>
        <th class="name">
          <h2><%= config[:articles].get_category_display_name(c) %></h2>
        </th>
        <th class="lang">Translations</th>
      </tr>
      <% config[:articles].articles_by_category_en[c].each do |a| %>
        <tr>
          <td class="name">
            <a href="<%= a.url %>"><%= a.name %></a>
          </td>
          <td class="lang">
            <% if a.translations %>
              <% a.translations.sort_by { |t| t.language }.each_with_index do |t, ii| %>
                <span style="display: inline-block;">
                  <a href="<%= t.url %>"><%= t.language %></a>&nbsp;
                </span>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
<p>
  Want to add your favorite language to the list? Head on over to
  <a href="https://github.com/adambard/learnxinyminutes-docs">Github</a>
  and send a pull request!
</p>

<hr>
<p>
  All articles &copy; the original author and contributors, and licensed under a
  <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">CC BY-SA 3.0</a>
  license.
</p>
<p style="text-align: right">
  Made by <a href="http://adambard.com/">Adam Bard, handsome web developer</a>
</p>
